<!DOCTYPE html>
<html>
  <head>
    <title>RailsDemo</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="container">
    <div class="col-sm-offset-4 col-sm-8" style="padding-top: 50px; padding-left: 0">
      <% if notice.present? %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert"><%= alert %></p>
      <% end %>
    </div>
    <%= yield %>

  </body>
</html>
